.App {
}

body{
  background-color: black;
}

.Section{
  display: inline-block;
  margin: 4px;
}

nav{
  background-color: black;
  height: 40px;
  margin-top: 0;
  color: white !important;
  text-decoration: none;
  
}

nav ul li {
  align-items: center;
}

ul {
  list-style: none;
  display: inline-flex;
  vertical-align: top;
}

nav a {
text-decoration: none;
color: white;
display: block;
transition: .3s background-color;
margin-right: 100px;
}

.Bar{
  display: block;
transition: .3s background-color;
margin-right: 20px;
}

.Live{
  background-color: white;
  height: 40px;
  margin-top: 0;
  color: black !important;
  text-decoration: none;
  
}

.live ul li {
  align-items: center;
}

ul {
  list-style: none;
  display: inline-flex;
  vertical-align: top;
}

.Live a {
text-decoration: none;
color: white;
display: block;
transition: .3s background-color;
margin-right: 100px;
}
